/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
html,
body {
    background-color: #343a40;
    margin: 0;
    padding: 0;
    min-height: 100vh!important;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

reg-root {
    margin: 0;
    padding: 0;
    min-height: 100%!important;
    height: 100vh!important;
}